PL_MVC/Connected Services/ServiceReferencePaquete/Paquete1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paquete">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoQR" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DireccionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEstimadaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPaquete" type="xs:int" />
      <xs:element minOccurs="0" name="InstruccionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroGuia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paquetes" nillable="true" type="tns:ArrayOfPaquete" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Repartidor" nillable="true" type="tns:Repartidor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paquete" nillable="true" type="tns:Paquete" />
  <xs:complexType name="ArrayOfPaquete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paquete" nillable="true" type="tns:Paquete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaquete" nillable="true" type="tns:ArrayOfPaquete" />
  <xs:complexType name="Repartidor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRepartidor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Repartidores" nillable="true" type="tns:ArrayOfRepartidor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Repartidor" nillable="true" type="tns:Repartidor" />
  <xs:complexType name="ArrayOfRepartidor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Repartidor" nillable="true" type="tns:Repartidor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepartidor" nillable="true" type="tns:ArrayOfRepartidor" />
</xs:schema>